#status {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    right: 0;
    top: 0;
}

.title {
    font-family: 'Inconsolata', monospace;
    padding-top: 4px;
}

.explainer {
    font-family: 'Inconsolata', monospace;
}

.hidden {
    display: none;
}

.explainer p {
    line-height: 150%;
}

#emoji-con {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
}